img {
  max-width:100%;
}

header, aside {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222222;
  color: #cccccc;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
  overflow: auto; /* hidden 超出界線的部分要隱藏 */
}

header {
  width: 100%;
  padding: 8px;
  z-index: 2;
}

header a, header a:visited, aside a, aside a:visited {
  color: #cccccc;
  text-decoration: none;
}

header .toggler {
  position:fixed;
  left:10;
  top:0;
  font-size:28px;
  z-index: 3;
} 

header .menu {
  position: fixed;
  text-align: right;
  padding-right: 0px;
  padding-left: 30px;
  right: 0;
  z-index: 3;
  background-color:#222222;
}

header .title {
  float: left;
  margin-left: 30px;
  white-space: nowrap;
  overflow: hidden;
}

aside {
  width: 0px;
  height: 100%;
  transition: width 0.5s;
  z-index: 1;
}

aside>div {
  padding: 50px 10px;
}

aside, aside *, aside a, aside a:visited {
  color: #cccccc;
}

aside ul, aside ol {
  margin: 10px 10px;
  padding: 0;
  list-style-type: none;
}

main {
  margin: 10 auto;
  padding: 50px 10px;
  max-width: 800px;
  /* border: 1px #aaaaaa solid; */
}

main a, main a:visited {
  text-decoration: none;
  color: #336699;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #dddddd;
  border: 1px black solid;
  white-space: pre-wrap;
}

table, form, p, li {
  line-height: 160%;
}

h1, h2, h3 {
  font-family: '標楷體', 'Times New Roman'
}


h1, h2, h3, h4, h5, h6 {
  margin: 8px 0px;
  padding: 8px 0px;
}

h1 {
  color: #000000;
  /* margin-bottom: 16px; */
}

h2 { color: #666666; }

h1 { font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

blockquote {
  border: 1px #aaaaaa solid;
  padding: 5px 10px;
}

figcaption {
  text-align: center;
}

table {
  /* margin: 10 auto; */
  border: 1px #888888 solid;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
  border: 1px #888888 solid;
}

th {
  background-color: #222222;
  color: #f0f0f0;
}

form {
  margin: 10 auto;
  width: fit-content;
}

textarea {
  padding: 10px;
  width: 95%;
  height: 400px;
  border: 1px black solid;
}

button, input {
  height: 28px;
}

button {
  padding: 5px;
  border-radius: 3px;
  border: 1px black solid;
  vertical-align: bottom;
}

textarea.wide {
  width: 700px;
}

@media only screen and (max-width: 700px) {
  textarea.wide {
    width: 400px;
  }
}

/*

.editor {
  width: 100%;
  max-width: 800px;
}

.editForm {
  width: 100%;
  max-width: 800px;
}

label {
  line-height: 160%;
}


*/
